body{
    margin:1rem;

}

#wrapper{
    display: grid;
    grid-template-areas:
    "logo" 
    "menu" 
    "intro" 
    "playground" 
    "footer";
}

h1.game { 
    grid-area: logo; 
    height:345px;
    width:500px;
    background: url(../images/tetris-logo.png) no-repeat;
    text-indent: -9999px;
}
ul.menu { 
    grid-area: menu; 
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    width: 25%;
}

.menu a {
    display: block;
    background: gray;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.menu a:hover {
	background: red;
	color: yellow;
}

ul.menu ul li {
    width:100%;
}
ul.menu ul {
    display:none;
}
ul.menu li:hover ul {
    display:flex;
}

.menu .submenu li>a:hover {
    background:red;
    color:yellow;
}
.menu .submenu>a:after {
    content: "+";
    padding-left:5px;
}

#introduction { 
    grid-area: intro; 
    padding:2rem;
}

#tetgrid { grid-area: playground; }

footer { grid-area: footer; }

@media screen and (min-width:850px){
    #wrapper{
        grid-template-areas:
        "logo  intro"
        "menu  menu" 
        "playground  playground"
        "footer  footer";

        grid-template-columns: 500px 1fr;
        grid-template-rows: 345px 1fr;
    }

    #tetgrid {
        display: grid;
        grid-template-columns: repeat(6, 100px);
        grid-template-rows: repeat(6, 100px);
    }
}

@media screen and (max-width: 550px) {
	.menu li {
		width: 100%;
	}
}