body {
      text-align: center;
      padding: 1rem;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }

    #instructions{
      width:50%;
      margin: auto;
    }

    #game {
      display: grid;

      grid-template-columns: repeat(3, 100px);
      grid-template-rows: repeat(3, 100px);

      gap: 5px;
      justify-content: center;
      grid-template-areas:
        ".     up     ."
        "left  center right"
        ".     down   .";
    }

    #cell-up {
      grid-area: up;
    }

    #cell-right {
      grid-area: right;
    }

    #cell-down {
      grid-area: down;
    }

    #cell-left {
      grid-area: left;
    }

    #pixi-container {
      grid-area: center;
    }




    .cell {
      display: flex;
      align-items: center;
      justify-content: center;


      border:1px solid gray;
      background-color: lightgray;
      font-weight: bold;
    }

    .correct {
      background-color: lightgreen;
    
    }

    .wrong {
      background-color: lightcoral;

    }

    #pixi-container {
      grid-column: 2;
      grid-row: 2;
      width: 100px;
      height: 100px;
    }

    #score-container {
      text-align: center;
      height: 3rem;
      margin: 1rem 0;
    }

    .score-row {
      display: inline-flex;
      align-items: center;
      gap: 1rem;
    }

    .hidden {
      display: none;
    }