@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url(/fontawesome/css/all.min.css);
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Caveat:wght@400..700&family=Noto+Sans:ital,wdth,wght@0,87.5,100..900;1,87.5,100..900&display=swap");
@import url(normalize.css);
body {
  text-align: justify;
  font: semi-condensed 400 12px/1.1 "Noto Sans", sans-serif;
  background-color: #fff;
}

h1, h2, h3 {
  font-size: 1.3rem;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0.25rem;
  margin-top: 0;
}

.img {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: start;
  filter: grayscale(0.5) contrast(1.2);
}

img {
  object-fit: cover;
  filter: grayscale(0.5) contrast(1.2);
}

.underlined {
  text-decoration: underline #ADB753 2px;
}

.highlighted {
  background-color: rgba(173, 183, 83, 0.3);
}

.accented {
  color: #ADB753;
}

.accent-oval {
  border: 4px double;
  padding: 1.5rem 0.5rem !important;
  border-radius: 2rem;
  color: #ADB753;
  font-weight: 800;
}

.accent-text {
  font: 400 1rem "Cabin Sketch", sans-serif;
  font-size: 1.3rem;
}

.post-it {
  border: 2px solid;
  padding: 0.5rem 1rem;
  background: #fff;
  font-size: 0.85em;
  position: relative;
  margin: 0;
}
.post-it i.fas.fa-map-pin {
  position: absolute;
  top: -0.6rem;
  background: #fff;
  color: #ADB753;
  font-size: 1.4em;
  padding-top: 0.125rem;
}
.post-it .header {
  font-size: 1.1em;
  margin-bottom: 1rem;
  font-weight: 600;
}
.post-it hr {
  margin: 0.5rem -1rem;
}

.vertical-text {
  writing-mode: horizontal-tb;
  text-orientation: mixed;
  margin: 0;
  padding: 0.25rem 0.125rem;
  background-color: #fff;
}

.handwritten-text {
  font: 600 1rem "Caveat", cursive;
  display: none;
}

.row {
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

nav.row {
  align-items: center;
  justify-content: space-around;
  padding: 0.25rem;
  position: sticky;
  top: 0;
  z-index: 4;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

#wrapper {
  display: grid;
  grid-template-rows: 5;
  grid-template-columns: 1;
  grid-template-areas: "tright" "tleft" "blside" "bcenter" "brside";
  min-height: 100vh;
}
#wrapper > div {
  padding: 1.5rem 1rem 1rem;
}

#ocean {
  grid-area: tright;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(225, 248, 252) 5%, rgb(173, 183, 83) 100%), url(../media/ocean-bg.jpg) center/cover;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 2rem;
  background-blend-mode: darken;
}
#ocean div {
  position: relative;
  padding: 2rem;
}
#ocean div .popout {
  position: absolute;
  right: -1rem;
  top: -1rem;
}
#ocean div header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
#ocean div header h1 {
  text-align: center;
  font-weight: 500;
  margin-left: 0.5rem;
}
#ocean div p {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 5px;
}

div#oyster {
  grid-area: tleft;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "primary" "right" "text-center" "img-aside" "img-center";
  position: relative;
}
div#oyster > div {
  padding: 0.25rem;
  width: 100%;
}
div#oyster #page-details {
  position: absolute;
  left: 1rem;
  top: 1rem;
  font-size: 0.8em;
  text-transform: uppercase;
}
div#oyster #oyster-primary-img {
  grid-area: primary;
}
div#oyster #oyster-primary-img .img {
  height: 100%;
  background: url(../../game/images/ff10-tidus-render.png) center/cover;
  display: flex;
}
div#oyster #oyster-img-aside {
  grid-area: img-aside;
  display: flex;
  align-items: center;
}
div#oyster #oyster-img-aside .handwritten-text {
  z-index: 2;
  transform: rotate(15deg);
  top: 67%;
}
div#oyster #oyster-center-img {
  grid-area: img-center;
  display: flex;
  flex-flow: column;
}
div#oyster #oyster-center-img .top-img {
  background: url(../media/etrian4.jpg);
  width: calc(100% + 2rem);
  margin-left: -2rem;
  height: 100%;
}
div#oyster #oyster-center-img .img {
  height: 50%;
}
div#oyster #oyster-center-text {
  grid-area: text-center;
  display: flex;
  flex-direction: column;
}
div#oyster #oyster-center-text .img {
  align-items: end;
  justify-content: start;
  background: url(../media/etrian4.jpg) center/cover;
  margin-bottom: 0.25rem;
}
div#oyster #oyster-center-text .img h2 {
  font-size: 0.9rem;
  margin-top: -2rem;
  font-weight: 300;
}
div#oyster #oyster-center-text p {
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: -0.5px;
}
div#oyster #oyster-right {
  grid-area: right;
  display: flex;
  flex-flow: column;
  position: relative;
}
div#oyster #oyster-right img {
  margin-bottom: 0.5rem;
}
div#oyster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#clam {
  grid-area: blside;
  display: flex;
  flex-flow: column;
  position: relative;
}
#clam img {
  width: 100%;
  height: 100%;
}
#clam .body .underlined {
  margin-bottom: 0.5rem;
}
#clam .body a {
  display: block;
  text-align: right;
  position: relative;
  bottom: 0;
  color: #ADB753;
}
#clam hr {
  border: 1px solid;
  height: 1rem;
  width: calc(100% - 2rem);
  position: absolute;
}
#clam hr.top {
  border-width: 1px 1px 0 1px;
  border-radius: 0.5rem 0.5rem 0 0;
  top: 0.5rem;
}
#clam hr.bottom {
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 0.5rem 0.5rem;
  bottom: 0.5rem;
}
#clam > div {
  flex: 1 1 auto;
  padding: 1rem;
}
#clam > div h4, #clam > div h3 {
  text-align: center;
}
#clam > div #divider-img {
  height: 100px;
  margin: 0.5rem 0;
  width: 90%;
}
#clam > div .row {
  align-items: end;
  justify-content: end;
  position: relative;
  margin-bottom: 0.5rem;
}
#clam > div .row .handwritten-text {
  left: -2rem;
  top: 0;
  transform: rotate(-15deg);
}
#clam > div .row #transparent {
  width: 70px;
  left: -1rem;
  position: absolute;
  height: 70px;
  z-index: 2;
}
#clam > div .row img:not(#transparent) {
  height: 90px;
  width: 70%;
}

#shrimp {
  grid-area: bcenter;
  position: relative;
  display: grid;
  grid-template-areas: "focal" "post" "text";
}
#shrimp .img.focal {
  grid-area: focal;
  min-height: 200px;
  width: 100%;
  background: url(../media/genkaku.jpg) center/cover;
  justify-content: start;
}
#shrimp .img.focal .cut-in {
  background-color: #fff;
  font-weight: 300;
  margin-top: 0.5rem;
  padding: 0.125rem;
}
#shrimp .post-it {
  grid-area: post;
  margin-top: 1rem;
}
#shrimp .row#shrimp-text {
  grid-area: text;
  flex-direction: column-reverse;
}
#shrimp .row#shrimp-text p {
  flex: 1 0 0;
  padding-bottom: 1rem !important;
  padding: 1rem 0;
}
#shrimp .row#shrimp-text img {
  max-width: 100%;
  flex: 0 0 auto;
  padding: 1rem 0;
}

#harpoon {
  grid-area: brside;
}
#harpoon .row {
  padding: 0 1rem 1rem;
  flex-flow: row-reverse nowrap;
}
#harpoon h2.vertical-text {
  max-height: 35%;
  text-align: left;
}
#harpoon .accent-oval {
  position: relative;
}
#harpoon span.float-right {
  float: right;
  margin-top: -1rem;
  margin-left: 1rem;
}
#harpoon span.float-right img {
  height: 70px;
  width: 70px;
}

@media (min-width: 650px) {
  div#oyster {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40% 20% 40%;
    grid-template-areas: "primary   primary" "img-center right" "text-center right";
  }
  div#oyster #oyster-img-aside {
    display: none;
  }
  #shrimp {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 55% 45%;
    grid-template-areas: "focal focal" "post text";
  }
  #shrimp .row#shrimp-text {
    grid-area: text;
    margin: 0.5rem -0.5rem 0 0.5rem;
    flex-direction: column-reverse;
  }
  #shrimp .row#shrimp-text p {
    flex: 1 0 0;
    padding-bottom: 1rem !important;
    padding: 0.5rem;
  }
  #shrimp .row#shrimp-text img {
    max-width: 50%;
    flex: 0 0 auto;
    padding: 0.5rem;
  }
}
@media screen and (min-width: 992px) {
  nav.row {
    display: none;
  }
  .row {
    flex-flow: row nowrap;
  }
  .vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
  .handwritten-text {
    display: block;
    position: absolute;
  }
  #wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 55% 45%;
    grid-template-areas: "tleft    tleft   tright  tright" "blside   bcenter bcenter brside";
    max-width: 920px;
    min-height: 1179px;
    margin: 0 auto;
  }
  #wrapper .post-it {
    position: absolute;
  }
  #wrapper #ocean {
    padding: 2rem;
  }
  #wrapper #ocean div p {
    background-color: rgba(255, 255, 255, 0.33);
  }
  div#oyster {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 40% 25% 35%;
    grid-template-areas: "primary   primary    primary    primary    primary primary" "blank     img-center img-center img-center right   right" "img-aside text-center text-center text-center right   right";
    padding: 4.25rem 1.5rem 0.75rem 4.75rem !important;
  }
  div#oyster > div {
    padding: 0.25rem;
    width: 100%;
  }
  div#oyster .post-it {
    position: absolute;
    margin-right: -5rem;
    left: 1rem;
    bottom: 1rem;
    right: 2rem;
  }
  div#oyster #oyster-img-aside {
    display: block;
    grid-column: 1/span 2;
    display: flex;
    align-items: center;
  }
  div#oyster #oyster-img-aside img {
    height: 70%;
    width: 90%;
    margin-left: -5rem;
    margin-top: -1rem;
  }
  div#oyster #oyster-center-img .top-img {
    width: calc(100% + 1.5rem);
  }
  div#oyster #oyster-center-text {
    width: calc(100% - 0.5rem);
  }
  div#oyster #oyster-right img {
    height: 50%;
  }
  #shrimp {
    display: block;
  }
  #shrimp .img.focal {
    grid-area: none;
    height: 60%;
  }
  #shrimp .post-it {
    grid-area: none;
    position: absolute;
    width: 30%;
    bottom: 2rem;
    left: 2rem;
  }
  #shrimp .row#shrimp-text {
    grid-area: none;
    flex-flow: row nowrap;
    justify-content: end;
    padding-top: 1rem;
    margin: 0 -0.5rem 0;
  }
  #shrimp .row#shrimp-text > .row {
    flex: 0 0 45%;
    max-width: 45%;
  }
  #shrimp .row#shrimp-text p {
    flex: 0 0 20%;
    padding-bottom: 1rem !important;
    padding: 0.5rem;
  }
  #shrimp .row#shrimp-text img {
    max-width: 25%;
    flex: 0 0 25%;
    padding: 0.5rem;
  }
  #harpoon .row {
    flex-flow: row nowrap;
    padding: 0;
  }
  #harpoon .accent-oval {
    position: absolute;
    right: 1.5rem;
  }
}/*# sourceMappingURL=main.css.map */