// @imports
// importing bootstrap icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

// importing fontawesome icons
//@import url(/fontawesome/css/regular.css);
//@import url(/fontawesome/css/solid.css);
@import url(/fontawesome/css/all.min.css);

// importing fonts
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Caveat:wght@400..700&family=Noto+Sans:ital,wdth,wght@0,87.5,100..900;1,87.5,100..900&display=swap');

// importing normalize
@import url(normalize.css);

// sass variables
$bg-main: #fff;
$body-txt: semi-condensed 400 12px/1.1 'Noto Sans', sans-serif;
$handwriting: 600 1rem 'Caveat', cursive;
$accent-txt: 400 1rem 'Cabin Sketch', sans-serif;
$green: #ADB753;

body{
    text-align: justify;
    font: $body-txt;
    background-color: $bg-main;
}

h1, h2, h3 {
    font-size:1.3rem;
}

h1, h2, h3, h4, h5, h6, p{
    margin-bottom: 0.25rem;
    margin-top:0
}

.img{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: start;
    filter: grayscale(0.5) contrast(1.2)
}

img{
    object-fit: cover;
    filter: grayscale(0.5)contrast(1.2)
}

.underlined{
    text-decoration: underline $green 2px;
}

.highlighted{
    background-color: rgba($green, $alpha: 0.3);
}

.accented{
    color: $green;
}

.accent-oval{
    border: 4px double;
    padding: 1.5rem 0.5rem !important;
    border-radius: 2rem;
    color: $green;
    font-weight: 800;
}

.accent-text{
    font: $accent-txt;
    font-size:1.3rem;
}

.post-it{
    border: 2px solid;
    padding: .5rem 1rem;
    background: $bg-main;
    font-size: 0.85em;
    position: relative;
    margin: 0;

    i.fas.fa-map-pin{
        position: absolute;
        top: -0.6rem;
        background: #fff;
        color: $green;
        font-size: 1.4em;
        padding-top: 0.125rem;
    }

    .header{
        font-size: 1.1em;
        margin-bottom: 1rem;
        font-weight: 600;
    }

    hr{
        margin: 0.5rem -1rem;
    }

    // &::before{
    //     content:'\f276';  
    //     display: inline-block;
    //     color: $green;
    //     position: absolute;
    //     background: #fff;
    //     top: -0.3rem;
    // }
}

.vertical-text{
    writing-mode: horizontal-tb;
    text-orientation: mixed;
    margin: 0;
    padding: 0.25rem 0.125rem;
    background-color: $bg-main;
}

.handwritten-text{
    font: $handwriting;
    display: none;
}

.row{
    display: flex;
    flex-flow: row wrap;
    position: relative;
}

nav.row{
    align-items: center;
    justify-content: space-around;
    padding:0.25rem;
    position: sticky;
    top:0;
    z-index:4;
    background-color: $bg-main;
    box-shadow: 0 0 12px rgba(0,0,0,0.4);
}

#wrapper{
    display: grid;
    grid-template-rows: 5;
    grid-template-columns: 1;
    grid-template-areas:
        "tright"
        "tleft"
        "blside"
        "bcenter"
        "brside";
    min-height: 100vh;

    >div{
        //border:1px solid;
        padding:1.5rem 1rem 1rem;
    }
}

// top right section
#ocean{
    grid-area: tright;
    background:linear-gradient(180deg,rgb(255, 255, 255) 0%, rgba(225, 248, 252, 1) 5%, rgba(173, 183, 83, 1) 100%), url(../media/ocean-bg.jpg) center / cover;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 2rem;
    background-blend-mode: darken;

    div{
        position: relative;
        padding: 2rem;

        .popout{
            position: absolute;
            right:-1rem;
            top:-1rem;

        }

        header{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom:1rem;
            
            h1{
                text-align: center;
                font-weight: 500;
                margin-left: 0.5rem;
            }
        }
    
        p{
            background-color: rgba(255,255,255,0.75);
            padding:5px;
        }
    }
}  

// top left section
div#oyster{
    grid-area: tleft;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "primary"
        "right"
        "text-center"
        "img-aside"
        "img-center"
        ;
    position: relative;

    >div{
        padding: .25rem;
        width: 100%;
    }

    #page-details{
        position: absolute;
        left: 1rem;
        top: 1rem;
        font-size: 0.8em;
        text-transform: uppercase;
    }
    
    #oyster-primary-img{
        grid-area: primary;

        .img{
            height: 100%;
            background: url(../../game/images/ff10-tidus-render.png) center / cover;
            display: flex;
        }
    }

    #oyster-img-aside{
        grid-area: img-aside;
        display: flex;
        align-items: center;

        .handwritten-text{
            z-index: 2;
            transform: rotate(15deg);
            top: 67%;
        }
    }

    #oyster-center-img{
        grid-area: img-center;
        display: flex;
        flex-flow: column;

        .top-img{
            background: url(../media/etrian4.jpg);
            width: calc(100% + 2rem);
            margin-left: -2rem;
            height: 100%;
        }

        .img{
            height: 50%;
        }
    }

    #oyster-center-text{
        grid-area: text-center;
        display: flex;
        flex-direction: column;

        .img{
            align-items: end;
            justify-content: start;
            background: url(../media/etrian4.jpg) center / cover;
            margin-bottom: 0.25rem;

            h2{
                font-size:0.9rem;
                margin-top: -2rem;
                font-weight: 300;
            }
        }

        p{
            font-size: 0.7rem;
            font-weight: 600;
            letter-spacing: -0.5px;
        }
    }

    #oyster-right{
        grid-area: right;
        display: flex;
        flex-flow: column;
        position: relative;

        img{
            margin-bottom: 0.5rem;
        }
    }
    
    img{
        width:100%;
        height:100%;
        object-fit: cover;
    }
}

// bottom left sidebar
#clam{
    grid-area: blside;
    display: flex;
    flex-flow: column;
    position: relative;

    img{
        width:100%;
        height:100%;
    }

    .body{
        .underlined{
            margin-bottom:0.5rem;
        }

        a{
            display: block;
            text-align: right;
            position: relative;
            bottom:0;
            color: $green;
        }
    }

    hr{
        border: 1px solid;
        height: 1rem;
        width: calc(100% - 2rem);
        position: absolute;

        &.top{
            border-width: 1px 1px 0 1px;
            border-radius: 0.5rem 0.5rem 0 0;
            top: 0.5rem;
        }

        &.bottom{
            border-width: 0 1px 1px 1px;
            border-radius: 0 0 0.5rem 0.5rem;
            bottom:0.5rem;
        }
    }

    >div{
        flex:1 1 auto;
        padding:1rem;

        h4, h3{
            text-align: center;
        }

        #divider-img{
            height: 100px;
            margin: 0.5rem 0;
            width: 90%;
        }

        .row{
            align-items: end;
            justify-content: end;
            position: relative;
            margin-bottom: 0.5rem;

            .handwritten-text{
                left: -2rem;
                top: 0;
                transform: rotate(-15deg);
            }

            #transparent{
                width: 70px;
                left: -1rem;
                position: absolute;
                height: 70px;
                z-index: 2
            }

            img:not(#transparent){
                height: 90px;
                width: 70%;
            }
        }
    }
}

// bottom center section
#shrimp{
    grid-area: bcenter;
    position: relative;
    display: grid;
    grid-template-areas: 
        "focal"
        "post"
        "text"
        ;

    .img.focal{
        grid-area: focal;
        min-height:200px;
        width:100%;
        background: url(../media/genkaku.jpg) center / cover;
        justify-content: start;

        .cut-in{
            background-color: $bg-main;
            font-weight: 300;
            margin-top: 0.5rem;
            padding:0.125rem;
        }
    }

    .post-it{
        grid-area:post;
        margin-top: 1rem;
    }

    .row#shrimp-text{
        grid-area: text;
        //margin: 0.5rem -0.5rem 0 0.5rem;
        flex-direction: column-reverse;

        p{
            flex: 1 0 0;
            padding-bottom: 1rem !important;
            padding: 1rem 0
        }

        img{
            max-width: 100%;
            flex: 0 0 auto;
            padding: 1rem 0
        }
    }
}

#harpoon{
    grid-area: brside;

    .row{
        padding: 0 1rem 1rem;
        flex-flow: row-reverse nowrap;
    }

    h2.vertical-text{
        max-height: 35%;
        text-align: left;
    }

    .accent-oval{
        position: relative;
    }

    span.float-right{
        float: right;
        margin-top: -1rem;
        margin-left: 1rem;

        img{
            height:70px;
            width: 70px;
        }
    }
}

@media (min-width: 700px){
    div#oyster{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 40% 20% 40%;
        grid-template-areas: 
            "primary   primary"
            "img-center right"
            "text-center right"
            ;
        
        #oyster-img-aside{
            display: none;
        }
    }

    #shrimp{
        display: grid;
        grid-template-columns: 35% 65%;
        grid-template-rows: 55% 45%;
        grid-template-areas:
            "focal focal"
            "post text";

        .row#shrimp-text{
            grid-area: text;
            margin: 0.5rem -0.5rem 0 0.5rem;
            flex-flow: row nowrap;

            p{
                flex: 1 0 0;
                max-width: 50%;
                padding-bottom: 1rem !important;
                padding: 0.5rem
            }

            img{
                //max-width: 50%;
                flex: 0 0 auto;
                padding: 0.5rem
            }
        }
    }
}

@media screen and (min-width:992px){
    nav.row{
        display: none;
    }

    .row{
        flex-flow: row nowrap;
    }

    .vertical-text{
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }

    .handwritten-text{
        display: block;
        position: absolute;
    }

    #wrapper{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 55% 45%;
        grid-template-areas:
            "tleft    tleft   tright  tright"
            "blside   bcenter bcenter brside";
        max-width: 920px;
        min-height: 1179px;
        margin:0 auto;
        padding: 50px;

        .post-it{
            position: absolute;
        }

        #ocean{
            padding: 2rem;

            div p{
                background-color: rgba(255,255,255,0.33);
            }
        }
    }

    div#oyster{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 40% 25% 35%;
        grid-template-areas: 
            "primary   primary    primary    primary    primary primary"
            "blank     img-center img-center img-center right   right"
            "img-aside text-center text-center text-center right   right"
            ;
        padding: 4.25rem 1.5rem .75rem 4.75rem !important;

        >div{
            padding: .25rem;
            width: 100%;
        }

        .post-it{
            position:absolute;
            margin-right: -5rem;
            left: 1rem;
            bottom: 1rem;
            right: 2rem;
        }

        #oyster-img-aside{
            display: block;
            grid-column: 1/span 2;
            display: flex;
            align-items: center;

            img{
                height: 70%;
                width: 90%;
                margin-left: -5rem;
                margin-top: -1rem;
            }
        }

        #oyster-center-img{
            .top-img{
                width: calc(100% + 1.5rem);
            }
        }

        #oyster-center-text{
            width: calc(100% - 0.5rem);
        }

        #oyster-right img {
            height: 50%;
        }
    }

    #shrimp{
        display: block;

        .img.focal{
            grid-area: none;
            height: 60%;
        }

        .post-it{
            grid-area: none;
            position: absolute;
            width: 30%;
            bottom: 2rem;
            left: 2rem;
        }

        .row#shrimp-text{
        grid-area: none;
        flex-flow: row nowrap;
        justify-content: end;
        padding-top: 1rem;
        margin:0 -0.5rem 0;

            >.row{
                flex: 0 0 45%;
                max-width: 45%;
            }

            p{
                flex: 0 0 20%;
                padding-bottom: 1rem !important;
                padding: 0.5rem
            }

            img{
                max-width: 25%;
                flex: 0 0 25%;
                padding: 0.5rem
            }
        }
    }

    #harpoon{
        .row{
            flex-flow: row nowrap;
            padding:0
        }

        .accent-oval{
            position: absolute;
            right: 1.5rem;
        }
    }
}