@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Comfortaa:wght@300..700&display=swap');

* {
    font-family: 'Comfortaa', sans-serif;
}

header {
    background: url(../images/cats.jpg);
}

header h1 {
    margin: 0;
    color: #473472;
    text-align: right;
    font-size: 100px;
    padding: 35px;
    background: linear-gradient(230deg,rgb(214, 244, 237) 45%, rgba(0, 0, 0, 0) 100%);
    font-family: 'Bagel Fat One', system-ui;
    font-style: italic;
    text-shadow: 7px 7px #87BAC3;
}


#widgetHolder{
    padding:2em;
    background: #87BAC3;
    border-radius: 2em;
    width: 25%;
    margin: 2em auto;
}

.widgets, #status{
    text-align: center;
}

#status {
    font-style: italic;
    height: 32px;
}

#status img{
    display:none;
}

#content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.result {
    position: relative;
    height: 175px;
    padding: 5px;
    margin-left: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 12px 12px #87BAC3;
    border-radius: 20px;
    font-size:1.2em;
    line-height: 1.3;
    font-weight: bold;
    color:#473472;
}

.result img {
    display: block;
    height: 100%;
    width:100%;
    border-radius: inherit;
}

.result span {
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: inherit;

    background-color: #D6F4ED;

    opacity: 0;
    transition: opacity 0.5s ease;
}

.result span:hover{
    opacity: 1;
}

.result audio {
    width: 130px;
}

button {
    display: inline-block;
    cursor: pointer;

    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 10px 18px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    font-size: 9.5pt;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    font-family: sans-serif;
    text-decoration: none;
}

button.green {
    border-color: #8fc800;
    background: #8fc800;
    background: linear-gradient(top, #8fc800 0%, #438c00 100%);
}

button:hover {
    background: #8fDD00;
}

button:active {
    background: #8fFF00;
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
}

button:focus {
    outline: 0;
}

.widgets {
    margin-top: 1em;
    margin-bottom: 1em;
}

#resultsDisplay{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(80deg,rgb(214, 244, 237) 45%, rgba(0, 0, 0, 0) 100%);
    padding: 10px 35px;
    margin-bottom:15px;
}

#resultsDisplay h2{
    font-family: 'Bagel Fat One', system-ui;
    font-style: italic;
    text-shadow: 7px 7px #87BAC3;
    color: #473472;
    font-size:50px;
    margin: 0 35px 0 0;
}

#resultsDisplay p{
    margin-top: 25px;
}

a{
    text-decoration: none;
    color: #53629E;
    transition: color 0.25s ease-in-out;
}
a:hover{
    color: #87BAC3;
}
a:visited{
    color:#473472;
}
a:focus{
    outline:#473472 1px solid;
    padding:1px
}
a:active{
    background-color: rgba(135, 186, 195,0.4);
}