@font-face {
    font-family: "Zen Maru Gothic";
    src: url(/nob6010/fonts/zen-maru-gothic/ZenMaruGothic-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url(/nob6010/fonts/playfair/PlayfairDisplay-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: 'Playfair Legacy';
    src: url(/nob6010/fonts/playfair/static/PlayfairDisplay-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Bagel Fat';
    src: url(/nob6010/fonts/bagel-fat/BagelFatOne-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}