@import "fontstyle.css";
$bodytxt: 'Zen Maru Gothic', serif;
$third: calc(100% / 3);
$sixth: calc(100% / 6);

body{
    font-family: $bodytxt;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#main{
    display: block;
}

.aside{
    flex:0 0 auto;
    max-width: 100%;
    border:2px solid brown;
    padding:1.5rem;
}

#center{
    flex:0 0 auto;
    max-width: 100%;
}

#content-row{
    column-gap: 2rem;
    display:block;
    border: 2px blue solid;
    padding:15px;
}

/** DESKTOP STYLING **/
@media screen and (min-width:992px){
    #main{
        padding:0 50px;
    }

    .aside{
        flex:0 0 auto;
        max-width: $sixth;
    }

    #left{
        margin-left: -4rem;
    }

    #right{
        margin-right:-4rem;
    }

    #center{
        flex:1 0 0;
    }

    #content-row{
        display: flex;
        margin:0 3rem;
    }
}

/** commnet **/