@import "fontstyle.css";
$bodytxt: 'Zen Maru Gothic', sans-serif;
$bodybck: #E4E0E1;
$bodyclr:#181C14;

$headertxt:'PlayFair Display', serif;

$third: calc(100% / 3);
$sixth: calc(100% / 6);

body{
    font-family: $bodytxt;
    background-color: $bodybck;
    color:$bodyclr;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#main{
    display: block;
}

.aside{
    flex:0 0 auto;
    max-width: 100%;
    border:1px solid $bodyclr;
    padding:1.5rem;
    background-color: $bodybck;
}

#center{
    flex:0 0 auto;
    max-width: 100%;
}

#content-row{
    column-gap: 2rem;
    display:block;
    border: 1px $bodyclr solid;
    padding:15px;
}

/** DESKTOP STYLING **/
@media screen and (min-width:992px){
    #main{
        padding:50px 100px;
    }

    .aside{
        flex:0 0 auto;
        max-width: $sixth;
    }

    #left{
        margin-left: -4rem;
    }

    #right{
        margin-right:-4rem;
    }

    #center{
        flex:1 0 0;
    }

    #content-row{
        display: flex;
        margin:0 3rem;
    }
}

/** commnet **/